<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; 2019 <strong>Hacktivity</strong> by <a href="https://jgthms.com">Mahbub Zulkarnain</a>.
        </p>
    </div>
</footer>