<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= webname %></title>
<link href="/css/main.css" type="text/css" rel="stylesheet">
<link href="/css/nav.css" type="text/css" rel="stylesheet">

<link href="/editor/css/medium-editor.css" type="text/css" rel="stylesheet">
<link href="/editor/css/themes/default.css" type="text/css" rel="stylesheet">



<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<script type="text/javascript" src="/editor/js/medium-editor.js"></script>
<script type="text/javascript" src="/editor/md/me-markdown.standalone.js"></script>
<!--<script defer src="/editor-plugin/js/medium-editor-insert-plugin.js"></script>-->
