<div class="column is-one-fifths">
    <aside>
        <ul class="menu-list">
            <li><a href="/create">Create</a></li>
            <li><a href="/list">List</a></li>
        </ul>
    </aside>
</div>