<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="column">
    <%- include('../partials/body-create.ejs') %>
</div>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <%- include('../partials/sidebar.ejs') %>
            <div class="column is-four-fifths">
                <div class="field">
                    <div class="control">
                        <!--<input type="text" placeholder="Title" name="title" class="input">-->
                        <div id="title" style="font-size: 40px;"></div>
                    </div>
                </div>
                <hr>
                <div class="field">
                    <div class="control">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
<script type="text/javascript">
  $(function () {
    var title = new MediumEditor('#title', {
      extensions: {
        markdown: new MeMarkdown(),
      },
      placeholder:{
        text: 'Type your title'
      }
    });
    var editor = new MediumEditor('#editor', {
      extensions: {
        markdown: new MeMarkdown()
      }
    });
  })
</script>
</body>
</html>