<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body>
<section class="section hero is-fullheight-with-navbar">
    <div class="hero-head">
        <%- include('../partials/body-home.ejs') %>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome, in <b><%= webname %></b>!
            </h1>
            <p class="subtitle">
                What's on your mind ?
            </p>
        </div>
    </div>
    <div class="hero-foot">
        <%- include('../partials/footer.ejs') %>
    </div>
</section>
</body>
</html>